/** CSS STYLE **/

@font-face {
  font-weight: 700;
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.woff2") format("woff2");
}

:root {
  --white: #fff;
  --semi-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  box-sizing: border-box;
  font: 16px/1.6em "OpenSans", sans-serif;
  color: var(--dark);
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.bg-img {
  position: relative;
}

.bg-img::before {
  content: "";
  position: absolute;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -2;
}

.light-style {
  background-color: var(--light);
  z-index: 0;
}

.orange {
  color: var(--main);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.avoid {
  break-inside: avoid;
}

.text {
  font: 16px/1.6em "OpenSans", sans-serif;
  color: var(--dark);
}

.header {
  overflow: hidden;
  position: relative;
}

.header__top {
  margin-bottom: 198px;
}

.header__img {
  position: absolute;
  height: 530px;
  width: 1080px;
  top: 55px;
  right: -105px;
  z-index: -1;
}
.columns {
  column-count: 2;
  column-gap: 30px;
}

.columns p {
  margin-top: 0;
}

.col-2 p:last-of-type {
  margin-bottom: 40px;
}

.header__details {
  text-align: center;
}

.header__link {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--main);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.distortions {
  text-align: center_;
}

.distortions__text {
  margin-bottom: 30px;
}

.distortions__title {
  margin-bottom: 28px;
}

.video {
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav {
  padding-top: 100px;
  background-color: var(--main-dark);
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -20px;
}

.nav__item {
  max-width: 350px;
  width: 100%;
  margin-bottom: 20px;
}

.nav__title {
  font-size: 52px;
  line-height: 1.2;
  color: var(--white);
}
.nav__link {
  display: inline-block;
  height: 100%;
  padding: 24px;
  background-color: var(--light);
  text-decoration: none;
  transition: all 0.5s;
}

.nav__link:hover {
  background-color: var(--main);
}

.nav__link .nav__num,
.nav__link h3,
.nav__link p {
  transition: color 1s;
}
.nav__link:hover .nav__num,
.nav__link:hover h3,
.nav__link:hover p {
  color: var(--white);
}

.nav__num {
  font: 64px/1 Neucha, sans-serif;
  color: var(--main-dark);
  margin-bottom: 40px;
}

.nav__link p:last-of-type {
  margin-bottom: 0;
}

.distortion__top {
  display: flex;
}

.distortion__img {
  margin-right: 30px;
}

.distortion__subtitle {
  margin: 0;
  font: 24px/1.2 Neucha, sans-serif;
  color: var(--semi-dark);
}

.distortion__title {
  margin-bottom: 27px;
}

.distortion__description {
  font: 34px/1.2 Neucha, sans-serif;
  margin: 0;
}

.distortion__demo {
  column-span: all;
  font: 14px/1.2 "OpenSans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.dark-style {
  margin: 100px 0 20px;
  padding: 5px 10px;
  background-color: var(--brown);
  color: var(--white);
}

